
$bg-light : #fff;
$text-light : #F1FAEE;
$bg-dark : #1d3557;
$text-dark : #1D3557;
$bg-area : #e8e8e4;
$border-game-area: rgba(black,.3);;
$border-active: #ff595e;
$border-playable-piece: orange;
$border-playable-area: #b5838d;

